# Active le moteur de réécriture d'URL
RewriteEngine on

# Condition de réécriture : vérifie si la requête ne correspond pas à un fichier existant
RewriteCond %{REQUEST_FILENAME} !-f

# Règle de réécriture : redirige toutes les requêtes vers index.php
RewriteRule . index.php [L]